@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/orange.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/gray.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-input-placeholder {
    font-style: italic;
}

:-moz-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}


.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    height: 2.5rem;
    gap: 0.5rem;
}

:root {
    --custom-orange: rgba(254, 100, 11, 0.1);
}

.Button.stuga-primary-color {
    background-color: var(--green8);
    /*background-color: var(--orange3);*/
    color: white;
    /*color: var(--green3);*/
    /*color: var(--orange10);*/
}

.Button.stuga-primary-color:hover {
    background-color: var(--green7);
    /*background-color: var(--orange4);*/
}

.Button.stuga-primary-color:focus {
    box-shadow: 0 0 5px var(--green7);
    /*box-shadow: 0 0 10px var(--orange7);*/
}

.Button.stuga-primary-color:active {
    background-color: var(--green6);
    /*background-color: var(--orange6);*/
}

.Button.stuga-primary-color:focus-visible {
    outline: 1px solid var(--green9);
}

.Button.stuga-primary-color[aria-expanded='true'] {
    background-color: transparent;
    color: var(--green2);
}

.Button.stuga-red-color {
    background-color: var(--red9);
    color: white;
}

.Button.stuga-red-color:hover {
    background-color: var(--red8);
}

.Button.stuga-red-color:focus {
    box-shadow: 0 0 5px var(--red8);
}

.Button.stuga-red-color:active {
    background-color: var(--red7);
}

.Button.stuga-red-color:focus-visible {
    outline: 1px solid var(--red8);
}

.Button.stuga-red-color[aria-expanded='true'] {
    background-color: transparent;
}

.Button.stuga-orange-color {
    background-color: var(--custom-orange);
    color: var(--orange10);
}

.Button.stuga-orange-color:hover {
    background-color: var(--orange3);
}

.Button.stuga-orange-color:focus {
    box-shadow: 0 0 5px var(--orange7);
}

.Button.stuga-orange-color:active {
    background-color: var(--orange6);
}

.Button.stuga-orange-color:focus-visible {
    outline: 1px solid var(--orange7);
}

.Button.stuga-orange-color[aria-expanded='true'] {
    background-color: transparent;
}

.IconButton {
    font-family: inherit;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.IconButton:hover {
    background-color: var(--violet4);
}

.IconButton:focus {
    box-shadow: 0 0 0 2px var(--violet7);
}

/* replace tailwind :  flex h-60 w-full flex-col items-start justify-start rounded-lg border border-gray-200 bg-white p-5 shadow-sm */
.StugaCard {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
    border-width: 1px;
    border-radius: 0.5rem;
    padding: 1.25rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    height: 15rem;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
}

.StugaCard[aria-hidden='true'] {
    opacity: 0.5;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.StugaCard:hover {
    background-color: var(--gray1);
}
